@model PetrixSisClient.Models.Animal

@{
    ViewBag.Title = "Detalhes";
}

<h3>Detalhes do Animal</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Descrição</dt>

        <dd>
            @Html.DisplayFor(model => model.ds_animal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_animal }) |
    @Html.ActionLink("Voltar", "Index")
</p>
